<%= form_for(bus_dow) do |f| %>
  <% if bus_dow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus_dow.errors.count, "error") %> prohibited this bus_dow from being saved:</h2>

      <ul>
      <% bus_dow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bus_dow_nm %>
    <%= f.text_area :bus_dow_nm %>
  </div>

  <div class="field">
    <%= f.label :dow_id %>
    <%= f.number_field :dow_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
