<p id="notice"><%= notice %></p>

<h1>Bus Dows</h1>

<table>
  <thead>
    <tr>
      <th>Bus dow nm</th>
      <th>Dow</th>
      <th>Bus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bus_dows.each do |bus_dow| %>
      <tr>
        <td><%= bus_dow.bus_dow_nm %></td>
        <td><%= bus_dow.dow_id %></td>
        <td><%= bus_dow.bus %></td>
        <td><%= link_to 'Show', bus_dow %></td>
        <td><%= link_to 'Edit', edit_bus_dow_path(bus_dow) %></td>
        <td><%= link_to 'Destroy', bus_dow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bus Dow', new_bus_dow_path %>
