<%= form_for(ad_det) do |f| %>
  <% if ad_det.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad_det.errors.count, "error") %> prohibited this ad_det from being saved:</h2>

      <ul>
      <% ad_det.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ad_det_lng %>
    <%= f.text_area :ad_det_lng %>
  </div>

  <div class="field">
    <%= f.label :ad_det_lat %>
    <%= f.text_area :ad_det_lat %>
  </div>

  <div class="field">
    <%= f.label :ad_det_ct1 %>
    <%= f.text_area :ad_det_ct1 %>
  </div>

  <div class="field">
    <%= f.label :ad_det_ct2 %>
    <%= f.text_area :ad_det_ct2 %>
  </div>

  <div class="field">
    <%= f.label :ad_id %>
    <%= f.text_field :ad_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
