<p id="notice"><%= notice %></p>

<p>
  <strong>Ad det lng:</strong>
  <%= @ad_det.ad_det_lng %>
</p>

<p>
  <strong>Ad det lat:</strong>
  <%= @ad_det.ad_det_lat %>
</p>

<p>
  <strong>Ad det ct1:</strong>
  <%= @ad_det.ad_det_ct1 %>
</p>

<p>
  <strong>Ad det ct2:</strong>
  <%= @ad_det.ad_det_ct2 %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @ad_det.ad %>
</p>

<%= link_to 'Edit', edit_ad_det_path(@ad_det) %> |
<%= link_to 'Back', ad_dets_path %>
