<p id="notice"><%= notice %></p>

<h1>Ads</h1>

<table>
  <thead>
    <tr>
      <th>Ad cd</th>
      <th>Ad title</th>
      <th>Ad start dt</th>
      <th>Ad end dt</th>
      <th>Ad det</th>
      <th>Bus stop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.ad_cd_id %></td>
        <td><%= ad.ad_title %></td>
        <td><%= ad.ad_start_dt %></td>
        <td><%= ad.ad_end_dt %></td>
        <td><%= ad.ad_det_id %></td>
        <td><%= ad.bus_stop %></td>
        <td><%= link_to 'Show', ad %></td>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad', new_ad_path %>
